/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

$primary-color: #4a8bdf; /* Royal Blue */
$secondary-color: #a0006d; /* Eggplant */
$accent-color: #228b22;
$background-color: #effafd; /* Pale Blue */
$text-color: #333333; /* Dark Gray */

body {
  padding: 0 2rem;
  background-color: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $accent-color;
  }
}

ul {
  list-style: none;
}

span {
  font-size: 1.1rem;
}

h2 {
  font-size: 1.6rem;
}

/* Scroll-bar */
::-webkit-scrollbar {
  background: #eee;
  height: 0.6rem;
  width: 0.7rem;
}

html::-webkit-scrollbar {
  border-radius: none;
}

::-webkit-scrollbar-thumb {
  background: $text-color;
  border-radius: 1rem;
}
